<%-include('../partials/header')%>
<div class="body-content">
<h1 class="l-heading">All Competencies:</h1>
<a class="btn btn-add btn-top" href="/competencies/new"> add new competency</a>
<input type="text" id="search" placeholder="search...">
<ul id="list">
  <% if(!!Competencies) { %> <%Competencies.forEach(competency => { %>
    <div class="competency-and-skill list-items">
  <li class="competency">
    <a href="/competencies/<%= competency._id %> "><h2 class="m-heading comp-heading"><%=competency.number%>: <%= competency.name %></h2></a> 
    <p class="description"> <%= competency.description%> </p> <i class="fas fa-chevron-down show-more"></i>
  </li>
    <ul class="skill-list">
      <%competency.skills.forEach(skill => { %>
      <li class="skill">
        <h3 class="s-heading"><%=competency.number%>.<%= skill.number%>: <%=skill.name%></h3>
        </li>
      <%})%>
    </ul>
  </div>
<% }); %> <% } %>
</ul>
<a class="btn btn-add" href="/competencies/new"> add new competency</a>
</div>
</div>
<%-include('../partials/footer')%>
