<h1>The New Subskill Form for <%=skill.name%></h1>
<h2><%=competency.number%>.
  <%=skill.number%>.
  <%=count%></h2>

<form
  action="/competencies/<%=competency._id%>/skills/<%=skill._id%>/subskills"
  method="POST"
>
  <div>
    <label for="number">subskill Number: </label><input type="number"
    name="number" value = <%=count%> readonly>
  </div>
  <div>
    <label for="name">subskill Name: </label>
    <input type="text" name="name" placeholder="subskill Name" />
  </div>
  <div>
    <button>Submit!</button>
  </div>
</form>
