<h2><%= competency.number %>.<%=skill.number%> : <%= skill.name %> </h2>
<form action="/competencies/<%=competency._id%>/skills/<%= skill.id%>?_method=PUT" method=POST>
    <div>
      <label for="name">Skill Name: </label>
      <input type="text" name="name" value="<%= skill.name%>" />
    </div>
    <div>
      <button>Submit!</button>
    </div>
  </form>