<%-include('../partials/header')%>
 <div  class="body-content"> 
     <% if(isLoggedIn) { %> 
        <h1>Welcome, <%=name %>!</h1>
        <div class="dashboard">
            <div class="competencies">
                <h2>Most Recently Updated competencies:</h2>
                <ul class="dashboard-competencies">
                    <% competencies.forEach(comp =>  { %>
                        <li class="competency">
                            <form action="/competencies/<%= comp._id %>" method="GET" > 
                             <button  class="not-button competency">
                                 <h3 class="s-heading"><%=comp.number%>: <%=comp.name%></h3>
                             </button>
                             </form>
                   <% }) %> 
                </ul>
            </div>
            <div class="roles">
                <h2>Most Recently Updated roles:</h2>
                <ul class="dashboard-roles">
                <% roles.forEach(role =>  { %>
                    <li class="role">
                        <form action="/roles/<%= role._id %>" method="GET" > 
                         <button class="not-button">
                             <h3 class="s-heading"><%=role.name%></h3>
                         </button>
                         </form>
               <% }) %> 
            </ul>
            </div>
        </div>
     <% } else { %> 
        <h1>Welcome!</h1>
        <div class="invitation">
        <h3>Please <a href="/login">Log in</a> or <a href="/signup">Sign up</a> to see your dashboard.</h3>
        <p>If you are just visiting and want to see the page with some starter information, please log-in with <span id="login-info"> <span class="example-login-label">email:</span> example@example, <span class="example-login-label">password:</span> example.</span></p>
        <p>please note that the database for the example institute will reset every 24 hours, or whenever the Heroku dyno restarts. No work will be saved!</p>
    </div>
     <% } %> 
<%-include('../partials/footer')%>