<%-include('../partials/header')%>
<div class="form-whole">
<h1 class="l-heading form-heading">Edit <%= role.name %> </h1>
<form id="form"action="/roles/<%=role._id%>?_method=PUT" method=POST>
  <div class="form-group form-name">
    <label for="roleName">Role Name:</label
    ><input required autocomplete="off" type="text" name="name" placeholder="Role Name" value="<%=role.name%>" />
  </div>
  <div class="form-group form-description">
    <label for="description">Role Description:</label>
    <textarea
      form="form"
      name="description"
      required
      placeholder="Role Description"> <%=role.description%> </textarea> 
  </div>
  <div class="form-group form-skills">
      <label for="skills">Role Skills:</label>
    <input title="enter a competency number by itself to assign all of it's skills to the role. Seperate skills with commas" type="text" name="skills" placeholder=" Add new skills">
</div>
  <div class="button-group">   
    <div class="form-group cancel form-button">
      <a href="/roles/<%=role._id%>"><p>Cancel</p></a>
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="form-group submit form-button">
    <button>Add</button>
  </div>
</div>
</form>
</div>
</div>
<%- include('../partials/footer') %> 