<%-include('../partials/header')%>
<div class="form-whole">
<h1 class="l-heading form-heading">Add New Role</h1>
<form id="form" action="/roles" method="POST">
  <div class="form-group form-name">
    <label for="roleName">Role Name:</label
    ><input required autocomplete="off" type="text" name="name" placeholder="Role Name" <%if(name) {%> value="<%=name%>"<%}%> />
  </div>
  <div class="form-group form-description">
    <label for="description">Role Description:</label>
    <textarea
      form="form"
      name="description"
      required
      placeholder="Role Description"> <%if(description) {%> value="<%=description%>"<%}%> </textarea> 
  </div>
  <div class="form-group form-skills">
      <label for="skills">Role Skills:</label>
    <input title="enter a competency number by itself to assign all of it's skills to the role" type="text" name="skills" placeholder="seperated by commas">
</di
<input type="hidden" name="_csrf" value="<%= csrfToken %>">v>
  <div class="button-group">   
    <div class="form-group submit form-button">
      
      <button>Add</button>
    </div>
          <div class="form-group cancel form-button">
            <a href="/roles/"><p>Cancel</p></a>
          </div>
</div>
</form>
</div>
</div>
<%- include('../partials/footer') %> 